.intro {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}


.image-container {
  margin-top: 0;
}

.profile-pic {
  width: 200px;
  border-radius: 12px;
  position: relative;
  top: 50px;
}
