
.intro {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  position: relative;
  top: 50px; 
}

.profile-pic {
  width: 200px;
  border-radius: 12px;
}

h1, h2, p {
  margin: 0;
  padding: 0;
}

.text p {
  margin-top: 10px;
}

h2 {
  margin-top: 30px;
}

.text {
  color: #0000FF;
}
